<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold</title>
</head>
<body>

    Your Gold : <form action="/process_money"><input type="number" value="0" name="your_gold" disabled></form>
    <h2>Farm</h2>
    <p>(earns 10_20 golds)</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="which_form" value="register1">
        <input type="submit" value="Find Gold!">
    </form>
    <h2>Cave</h2>
    <p>(earns 5_10 golds)</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="which_form" value="register2">
        <input type="submit" value="Find Gold!">
    </form>
    <h2>House</h2>
    <p>(earns 2_5 golds)</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="which_form" value="register3">
        <input type="submit" value="Find Gold!">
    </form>
    <h2>Casino</h2>
    <p>(earns/takes 0_50 golds)</p>
    <form action="/process_money" method="POST">
        {% csrf_token %}
        <input type="hidden" name="which_form" value="register4">
        <input type="submit" value="Find Gold!">
    </form>
    <br>
    <form>
        {% csrf_token %}
        Activities: <br>
        <textarea name="area" cols="100" rows="10">{{request.session.area}}</textarea>
    </form>
</body>
</html>