<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
</head>
<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    ID: <span>{{author.id}}</span><br>
    Notes: <span>{{author.note}}</span><br>
    Books: 
    <ul>
        {% for book in author.book.all %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
    <form action="/authoring/{{author.id}}" method="POST">
        {% csrf_token %}
        <select name="book">
            {% for book in all_the_books %}
            <option value="{{book.id}}"> {{book.title}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">    
    </form>
</body>
</html>