<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    ID: <span>{{book.id}}</span><br>
    Description: <span>{{book.desc}}</span><br>
    Author: 
    <ul>
        {% for author in book.authors.all %}
        <li>{{author.first_name}} {{author.last_name}}</li>
        {% endfor %}
    </ul>
    <form action="/booking/{{book.id}}" method="POST">
        {% csrf_token %}
        <select name="author">
            {% for author1 in all_the_authors %}
            <option value="{{author1.id}}"> {{author1.first_name}} {{author1.last_name}} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Add">    
    </form>
</body>
</html>