<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
</head>
<body>
    <h2>Add a Book</h2>
    <form action="/book" method="POST">
        {% csrf_token %}
        Title: <input type="text" name="title">
        Description: <input type="text" name="desc">
        <input type="submit" value="Add">
    </form>
    <table>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>Action</td>
        </tr>
        {% for book in all_the_books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="book/{{book.id}}">View</a></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>