<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    <h1>All shows</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Network</td>
            <td>Release_date</td>
            <td>Actions</td>
        </tr>
        {% for series in all_series %}
        <tr>
            <td>{{series.id}}</td>
            <td>{{series.title}}</td>
            <td>{{series.network}}</td>
            <td>{{series.release_date}}</td>
            <td>
                <ul>
                    <li><a href="shows/{{series.id}}">View</a></li>
                    <li><a href="shows/{{series.id}}/edit">Edit</a></li>
                    <li><a href="shows/{{series.id}}/destroy">Delete</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="shows/new">Add a new Show</a>
</body>
</html>