<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <div>
        <a href="logout">logout</a>
        <h1>Coding Dojo Wall</h1>
        <h2>Welcome {{request.session.first_name}} {{request.session.last_name}}</h1>
    </div>
    <form action="/posting" method="POST">
        {% csrf_token %}
        Post a message: <input type="text" name="post_message">
        <input type="submit" value="Post a message">
    </form>
    <ul>
    {% if all_post is not None %}
        {% for post in all_post %}
        <h2>{{post.user.first_name}}{{post.user.last_name}} // {{post.created_at}}</h2>
            <p>{{post.post_message}}</p>
            <a href="/deletepos">delete</a>
            <ul>
                {% for comment in post.comments.all %}
                <li> {{ comment.comment_message}} <span style="color: blue;"> {{comment.user.first_name}}{{comment.user.last_name}} ! {{comment.created_at}}</span>
                </li>
                <a href="/deletecom/{{post.id}}">delete</a>
                {% endfor %}
            </ul>
            <form action="/commenting/{{post.id}}" method="POST">
            {% csrf_token %}    
            Post a comment: <input type="text" name="comment_message">
            <input type="submit" value="Post a comment">
            </form>    
        {% endfor %}
    {% endif %}
    </ul>
</body>
</html>